
{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
}
.column1 {
  float: left;
  width: 30%;
  padding: 10px;
}
.column2 {
  float: left;
  width: 23%;
  padding: 10px;
}


/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

{% if user.is_authenticated %}
  {% if user.is_superuser %}          <!--  admin - logged in -->
    <div class="topnav">
      <a href="{% url 'home' %}">Home</a>
      <a href="#news">Map</a>
      <a class="active" href="{% url 'gallery' %}">Gallery</a>
      <a href="{% url 'change_password' user.username %}">change password</a>
      <a href="{% url 'Add' %}">Add user</a>
      <a href="{% url 'Terms' %}">Terms</a>
      <a href="{% url 'user_info' %}">User Info</a>
      <a href="{% url 'about' %}">About & Contact</a>
      <a href="{% url 'admin_actions' %}">Admin Actions</a>
      <a href="{% url 'changeinfo' user.id %}">Change Personal Info.</a>
      <a href="{% url 'logout' %}">Log Out</a>
    </div>

  {% else %}                        <!--  account - logged in -->

    {% if not user.accounts.approved %}
      {% if user.accounts.is_doggiesitter %}          <!-- doggiesitter not approved yet -->
        <div class="topnav">
          <a href="{% url 'home' %}">Home</a>
          <a href="#news">Map</a>
          <a class="active" href="{% url 'gallery' %}">Gallery</a>
          <a href="#news">Take a dog</a>
          <a href="{% url 'about' %}">About & Contact</a>
          <a href="{% url 'changeinfo' user.id %}">Change Personal Info.</a>
          <a href="{% url 'logout' %}">Log Out</a>
        </div>

      {% else %}                                    <!--  dog owner -->
        {% if not user.is_superuser %}
          <div class="topnav">
            <a href="{% url 'home' %}">Home</a>
            <a href="#news">Map</a>
            <a class="active" href="{% url 'gallery' %}">Gallery</a>
            <a href="{% url 'change_password' user.username %}">change password</a>
            <a href="#news">Post new schedule</a>
            <a href="{% url 'about' %}">About & Contact</a>
            <a href="{% url 'changeinfo' user.id %}">Change Personal Info.</a>
            <a href="{% url 'logout' %}">Log Out</a>
          </div>
        {% endif %}
    {% endif %}

  {% else %}
    {% if user.accounts.is_doggiesitter %}          <!--  approved doggiesitter -->
      <div class="topnav">
        <a href="{% url 'home' %}">Home</a>
        <a href="#news">Map</a>
        <a class="active" href="{% url 'gallery' %}">Gallery</a>
<!--        <a href="{% url 'change_password' user.username %}">change password</a>-->
        <a href="#news">Take a dog</a>
        <a href="{% url 'about' %}">About & Contact</a>
        <a href="{% url 'changeinfo' user.id %}">Change Personal Info.</a>
        <a href="{% url 'logout' %}">Log Out</a>
      </div>
    {% endif %}
  {% endif %}
{% endif %}
{% endif %}

<br><br><br>

<!-- The four columns -->
<div class="row">
    <div class="column1">
        <img src="{% static '/image/Gallery/23.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
    <div class="column1">
        <img src="{% static '/image/Gallery/1.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
      <div class="column">
        <img src="{% static '/image/Gallery/2.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
        <div class="column1">
        <img src="{% static '/image/Gallery/24.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
      <div class="column">
        <img src="{% static '/image/Gallery/3.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
      <div class="column">
        <img src="{% static '/image/Gallery/4.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
        <div class="column1">
        <img src="{% static '/image/Gallery/25.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
        <div class="column1">
        <img src="{% static '/image/Gallery/26.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
<br>
<br>
<br>
<br>
  <div class="column1">
        <img src="{% static '/image/Gallery/14.jpg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
        <img src="{% static '/image/Gallery/5.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
        <div class="column1">
        <img src="{% static '/image/Gallery/27.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
  <div class="column">
        <img src="{% static '/image/Gallery/6.jpg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>

    <div class="column1">
        <img src="{% static '/image/Gallery/28.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
  <div class="column">
        <img src="{% static '/image/Gallery/8.jpg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>

  <div class="column">
        <img src="{% static '/image/Gallery/9.jpg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>

  <div class="column2">
        <img src="{% static '/image/Gallery/10.jpg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
        <img src="{% static '/image/Gallery/11.jpg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
        <div class="column1">
        <img src="{% static '/image/Gallery/29.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
  <div class="column2">
        <img src="{% static '/image/Gallery/12.jpg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
        <img src="{% static '/image/Gallery/13.jpg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>


  <div class="column">
        <img src="{% static '/image/Gallery/17.jpg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
        <div class="column1">
        <img src="{% static '/image/Gallery/30.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
  <div class="column1">
        <img src="{% static '/image/Gallery/18.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
    <div class="column1">
        <img src="{% static '/image/Gallery/19.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
    <div class="column1">
        <img src="{% static '/image/Gallery/20.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
        <div class="column1">
        <img src="{% static '/image/Gallery/31.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
    <div class="column">
        <img src="{% static '/image/Gallery/21.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
   <div class="column2">
        <img src="{% static '/image/Gallery/22.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
        <div class="column1">
        <img src="{% static '/image/Gallery/32.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
   <div class="column1">
        <img src="{% static '/image/Gallery/16.jpg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
  </div>
        <div class="column1">
        <img src="{% static '/image/Gallery/33.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
            <div class="column1">
        <img src="{% static '/image/Gallery/34.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
            <div class="column1">
        <img src="{% static '/image/Gallery/35.jpeg' %}" alt="Nature" style="width:100%" onclick="myFunction(this);">
      </div>
</div>

<div class="container">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>


<script>
function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
  var imgText = document.getElementById("imgtext");
  expandImg.src = imgs.src;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}
</script>

</body>
</html>